<div class="blog-card__contents__info__favorite">
  <% if user_signed_in? %>
    <% if blog.favorited_by?(current_user) %>
      <%= link_to blog_favorite_path(blog.id), method: :delete do %>
        <%= fas_icon "star", class: "blog-card__contents__info__favorite__icon" %>
      <% end %>
    <% else %>
      <%= link_to blog_favorite_path(blog.id), method: :create do %>
        <%= far_icon "star", class: "blog-card__contents__info__favorite__icon" %>
      <% end %>    
    <% end %>
  <% else %>
    <%= far_icon "star", class: "blog-card__contents__info__favorite__icon" %>
  <% end %>
  <%= blog.favorites.count %>
</div>
