<div class="account-page">
  <div class="account-page__inner">
    <div class="account-page__inner--left">
      <h2>新規アカウントの作成</h2>
      <%= render "users/shared/links" %>
    </div>
    <div class="account-page__inner--right">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="field-label">
            <%= f.label :nickname %><br />
          </div>
          <div class="field-input">
            <%= f.text_field :name, placeholder: "ニックネームを入力してください", autofocus: true, autocomplete: "name" %>
          </div>
        </div>

        <div class="field">
          <div class="field-label">
            <%= f.label :email %><br />
          </div>
          <div class="field-input">
            <%= f.email_field :email, placeholder: "メールアドレスを入力してください", autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="field">
          <div class="field-label">
            <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(英数字<%= @minimum_password_length %>文字以上)</em>
              <% end %>
          </div>
          <div class="field-input">
            <%= f.password_field :password, placeholder: "パスワードを入力してください", autocomplete: "new-password" %>
          </div>
        </div>

        <div class="field">
          <div class="field-label">
            <%= f.label :password_confirmation %><br />
          </div>
          <div class="field-input">
            <%= f.password_field :password_confirmation, placeholder: "再度パスワードを入力してください", autocomplete: "new-password" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn"%>
        </div>
      <% end %>
    </div>
  </div>
</div>